aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
astroid==3.3.11
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.2
colorama==0.4.6
coverage==7.10.2
dill==0.4.0
docutils==0.22
frozenlist==1.7.0
id==1.5.0
idna==3.10
iniconfig==2.1.0
isort==6.0.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
keyring==25.6.0
livereload==2.7.1
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.7.0
multidict==6.6.3
nh3==0.3.0
ordered-set==3.1.1
packaging==25.0
platformdirs==4.3.8
pluggy==1.6.0
propcache==0.3.2
Pygments==2.19.2
pylint==3.3.7
pytest==8.4.1
pytest-asyncio==1.1.0
pytest-cov==6.2.1
pywin32-ctypes==0.2.3
pyxcute==0.8.1
readme_renderer==44.0
requests==2.32.4
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.1.0
semver==2.13.0
Send2Trash==1.8.3
termcolor==3.1.0
terminaltables==3.1.10
tomlkit==0.13.3
tornado==6.5.1
twine==6.1.0
urllib3==2.5.0
yarl==1.20.1